/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    line-height: 1.6;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    overflow: hidden;
    border-bottom: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 30px 20px;
    text-align: center;
    flex: 1;
}

section h2 {
    color: #f39c12; /* Amarillo */
}

section p {
    max-width: 800px;
    margin: 0 auto;
    color: #ccc;
}

.features {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.feature {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #333;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s;
}

.feature:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    nav a {
        float: none;
        width: 100%;
    }

    .features {
        display: flex;
        flex-direction: column;
    }

    .feature {
        width: 100%;
    }
}
